[Unit]
Description=Venditt Player (mpv signage)
After=network-online.target ssh.service
Wants=network-online.target ssh.service

[Service]
Type=simple
User=vobox
Group=vobox
SupplementaryGroups=video render audio input
ExecStartPre=/bin/sleep 15
TimeoutStartSec=30

WorkingDirectory=/data/player

# Start your real script
ExecStart=/usr/bin/bash /data/player/tvads.sh

# Auto-restart on crashes
Restart=always
RestartSec=2

KillMode=control-group
TimeoutStopSec=20

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
