[Unit]
Description=Venditt Player (mpv signage)
After=network-online.target
Wants=network-online.target

# rate-limit restart storms
StartLimitIntervalSec=0

[Service]
Type=simple
User=vobox
Group=vobox
SupplementaryGroups=video render audio input
WorkingDirectory=/data/player

# Give local admin a window before mpv takes over
# ExecStartPre=/bin/sleep 15

# IMPORTANT: must be > ExecStartPre sleep, with margin
TimeoutStartSec=60

ExecStart=/data/player/tvads.sh

Restart=always
RestartSec=2

KillMode=control-group
TimeoutStopSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
